# Ignore node modules
node_modules
npm-debug.log
yarn-error.log

# Ignore vendor directory (will be installed in Docker)
vendor

# Ignore environment files
.env
.env.*.local

# Ignore IDE/editor files
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db

# Ignore storage and cache (will be generated inside container)
storage/*.key
storage/debugbar
storage/logs
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
bootstrap/cache/*.php

# Ignore test reports
phpunit.result.cache
